[Unit]
Description=asana2calendar

[Service]
User=asana2calendar
Group=asana2calendar
ExecStart=/usr/bin/xargs -a .env /usr/bin/gunicorn -w 3 -b 127.0.0.1:5001 wsgi:app -e
LimitNOFILE=1048576
LimitNPROC=64
PrivateTmp=true
PrivateDevices=true
ProtectHome=true
ProtectSystem=strict
WorkingDirectory=/var/lib/asana2calendar
ReadWriteDirectories=/var/lib/asana2calendar

[Install]
WantedBy=multi-user.target
